{% extends 'layout.html.twig' %}
{% set adminMenu = true %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <h2 class="text-center">{{ block('title') }}</h2>

        {% for flashMessage in app.session.flashbag.get('success') %}

            <div class="alert alert-success">
                {{ flashMessage }}
            </div>

        {% endfor %}

        <div class="row">
            <a href="/admin" onClick="history.back();return false;">Back</a>
        </div>

        <div class="well">

        {{ form_start(answerForm, { 'attr': {'class': 'form-horizontal'} }) }}

            <div class="form-group">

                {{ form_label(answerForm.question_id, null, { 'label_attr':  {
                    'class': 'col-sm-5 control-label'
                }}) }}

                <div class="col-sm-4">

                    {{ form_errors(answerForm.question_id) }}
                    {{ form_widget(answerForm.question_id, { 'attr':  {
                        'class': 'form-control'
                    }}) }}

                </div>

            </div>

            <div class="form-group">

                {{ form_label(answerForm.text, null, { 'label_attr':  {
                    'class': 'col-sm-5 control-label'
                }}) }}

                <div class="col-sm-4">

                    {{ form_errors(answerForm.text) }}
                    {{ form_widget(answerForm.text, { 'attr':  {
                        'class': 'form-control'
                    }}) }}

                </div>

            </div>

            <div class="form-group">

                {{ form_label(answerForm.right, null, { 'label_attr':  {
                    'class': 'col-sm-5 control-label'
                }}) }}

                <div class="col-sm-4">

                    {{ form_errors(answerForm.right) }}
                    {{ form_widget(answerForm.right, { 'attr':  {
                        'class': 'form-control'
                    }}) }}

                </div>

            </div>

            <div class="form-group">

                {{ form_label(answerForm.active, null, { 'label_attr':  {
                    'class': 'col-sm-5 control-label'
                }}) }}

                <div class="col-sm-2">

                    {{ form_errors(answerForm.active) }}
                    {{ form_widget(answerForm.active, { 'attr':  {
                        'class': 'form-control'
                    }}) }}

                </div>

            </div>

            <div class="form-group">

                <div class="col-sm-offset-5 col-sm-3">
                    <input type="submit" class="btn btn-primary" value="Save" />
                </div>

            </div>

        {{ form_end(answerForm) }}

    </div>

{% endblock %}
