{% extends "question_layout.html.twig" %}

{% form_theme voteForm _self %}

{% block choice_widget_expanded %}

        {% for child in form %}

            <li {{ block('widget_container_attributes') }} class="answer-item even">

                <div>
                    <span class="list-item-header">{{ form_widget(child) }}</span><span class="answer-text">{{ form_label(child) }}</span>
                </div>

            </li>

        {% endfor %}

{% endblock %}

{% block title %}Question {{ question.get_id }}{% endblock %}

{% block content %}

    <div class="content-main">

            <div class="menu">

                <ul class="nav">

                    <li class="stats"></li>

                    <li></li>

                    <li></li>

                </ul>

                <ul class="jokers">

                    <li class="fifty"></li>

                    <li class="friend"></li>

                    <li class="public"></li>

                </ul>

            </div>

            <br style="clear:both" />

            <div class="question file"><img src="{{ app.request.basepath }}/css/img/{{ question.get_id }}.png" alt=""></div>

            <div class="question-text">{{ question.get_text }}</div>

            <div class="answers">

            {% if voteForm %}

                    {{ form_start(voteForm) }}

                        <ul class="answers-list">
                            {{ form_errors(voteForm.answer_id) }}
                            {{ form_widget(voteForm.answer_id) }}
                        </ul>

                    {{ form_end(voteForm) }}

                </div>

            {% endif %}

        </div>

{% endblock %}
