{% extends "question_layout.html.twig" %}

    {% if voteForm %}

        {% form_theme voteForm _self %}

        {% block choice_widget_expanded %}

                {% for child in form %}

                    <li {{ block('widget_container_attributes') }} class="answer-item">

                        <div>
                            <span class="list-item-header">{{ form_widget(child) }}</span><span class="answer-text">{{ form_label(child) }}</span>
                        </div>

                    </li>

                {% endfor %}

        {% endblock %}

    {% endif %}

{% block title %}Question {{ question.get_id }}{% endblock %}

{% block content %}

    <div class="content-main">

        <div class="menu">

            <ul class="nav">

                <li class="stats"><img id="stats_btn" src="{{ app.request.basepath }}/css/img/stats.png" alt=""></li>

                <li></li>

                <li></li>

            </ul>

            <ul class="jokers">

                <li class="fifty"></li>

                <li class="friend"></li>

                <li class="public"></li>

            </ul>

        </div>

        <br style="clear:both" />

        <div class="question_data">
            <div id="img_container" class="question file"><img id="question_img" src="{{ app.request.basepath }}/css/img/{{ question.get_id }}.png" alt="" style="{% if question.get_has_picture_after == 1 %}display:none;{% endif %}"></div>
            <div id="stats_container" style="display:none"></div>
        </div>

        <div class="question-text">{{ question.get_text }}</div>

        <div id="answers" class="answers">

            {% if voteForm %}

                    {{ form_start(voteForm) }}

                        <ul class="answers-list">
                            {{ form_errors(voteForm.answer_id) }}
                            {{ form_widget(voteForm.answer_id) }}
                        </ul>

                    {{ form_end(voteForm) }}

            {% endif %}

        </div>

        <div class="form-group">
            <div class="prev"></div>
            <div class="reload"></div>
            <div class="next"></div>
        </div>

    </div>

    <script src="{{ app.request.basepath }}/lib/highcharts/js/highcharts.js"></script>

    {% verbatim %}

        <script type="text/javascript">

            var question_id = {% endverbatim %}{{ question.get_id }}{% verbatim %},
                question_order = {% endverbatim %}{{ question.get_order }}{% verbatim %},
                question_fifty = {% endverbatim %}{{ question.get_game.get_fifty }}{% verbatim %},
                question_friend = {% endverbatim %}{{ question.get_game.get_friend }}{% verbatim %},
                question_public = {% endverbatim %}{{ question.get_game.get_public }}{% verbatim %},
                has_voted = {% endverbatim %}{{ has_voted }}{% verbatim %},
                right_answer = {% endverbatim %}{{ right_answer }}{% verbatim %},
                user_vote_id = {% endverbatim %}{{ user_vote_id }}{% verbatim %};

            function highlight_user_vote() {

                var id = null;

                $('.list-item-header').each(function(index) {

                    if (user_vote_id == $(this.children[0]).val()) {
                        id = $(this.children[0]).attr('id');
                    }

                });

                $('.required').each(function(index) {

                    if ($(this).attr('for') == id) {
                        $(this).css('color', '#d45500');
                    }

                });

            }

            function highlight_right_answer() {

                var id = null;

                $('.list-item-header').each(function(index) {

                    if (right_answer == $(this.children[0]).val()) {
                        id = $(this.children[0]).attr('id');
                    }

                });

                $('.required').each(function(index) {

                    if ($(this).attr('for') == id) {
                        $(this).css('color', '#008000');
                    }

                });

            }

            function highlight_answers() {

                highlight_user_vote();
                highlight_right_answer();

            }

            function show_picture_after() {
                $('#question_img').show();
            }

            function set_previous_question(question_order) {

                $.ajax({
                    url: '/ajax/prev/' + question_order,
                    success: function(data) {
                        window.location.replace('/question/' + data);
                    }

                });

            }

            function set_next_question(question_order) {

                $.ajax({

                    url: '/ajax/next/' + question_order,
                    success: function(data) {
                        window.location.replace('/question/' + data);
                    }

                });

            }

            function use_joker(joker) {

                $.ajax({

                    url: '/ajax/joker/' + joker,
                    success: function() {
                    }

                });

            }

            (function check_current_question() {

                $.ajax({

                    url: '/ajax/check',
                    success: function(data) {

                        if (question_id != data) {
                            window.location.replace('/question/' + data);
                        }

                    },

                    complete: function() {

                      // Schedule the next request when the current one's complete

                      setTimeout(check_current_question, 10000);

                    }

                });

            })();

            $(function() {

                // Answers Style

                $('.answers-list').children().each(function(index) {

                    if (index == 1 || index == 3) {
                        $(this).css('background-image', 'url({% endverbatim %}{{ app.request.basepath }}{% verbatim %}/css/img/rep3.png)');
                        $(this).addClass('odd');
                    }

                });

                $('input[type=radio]').click(function() {
                    $(this).closest("form").submit();
                });

                // Highcharts Conf

                var perShapeGradient = {
                    x1: 0,
                    y1: 1,
                    x2: 0,
                    y2: 0
                };

                $('#stats_container').highcharts({

                    chart: {
                        backgroundColor: {
                            linearGradient: [0, 1, 0, 0],
                            stops: [
                                [0, 'rgb(0, 0, 36)'],
                                [1, 'rgb(0, 0, 77)']
                            ]
                        },
                        type: 'column'
                    },
                    colors: [{
                        linearGradient: perShapeGradient,
                        stops: [
                            [0, 'rgb(121, 0, 121)'],
                            [1, 'rgb(0, 248, 252)']
                            ]
                        },{
                        linearGradient: perShapeGradient,
                        stops: [
                            [0, 'rgb(134, 0, 0)'],
                            [1, 'rgb(0, 248, 252)']
                            ]
                        },{
                        linearGradient: perShapeGradient,
                        stops: [
                            [0, 'rgb(0, 36, 4)'],
                            [1, 'rgb(0, 248, 252)']
                            ]
                        },{
                        linearGradient: perShapeGradient,
                        stops: [
                            [0, 'rgb(19, 255, 84)'],
                            [1, 'rgb(0, 248, 252)']
                            ]
                        }],
                    title: {
                        text: ''
                    },
                    series: {% endverbatim %}{{ vote_stats|raw }}{% verbatim %}

                });

                // Click events

                $('.prev').click(function() {
                    set_previous_question(question_order);
                });

                $('.next').click(function() {
                    set_next_question(question_order);
                });

                $('.reload').click(function() {
                    window.location.replace('/question/' + question_id);
                });

                $("#stats_btn").click(function() {
                    $("#img_container").toggle();
                    $("#stats_container").toggle();
                });

                if (question_fifty == 1) {
                    $(".fifty").css('background-image', 'url({% endverbatim %}{{ app.request.basepath }}{% verbatim %}/css/img/fifty2.png)');
                }

                if (question_friend == 1) {
                    $(".friend").css('background-image', 'url({% endverbatim %}{{ app.request.basepath }}{% verbatim %}/css/img/friend2.png)');
                }

                if (question_public == 1) {
                    $(".public").css('background-image', 'url({% endverbatim %}{{ app.request.basepath }}{% verbatim %}/css/img/public2.png)');
                }

                $(".fifty").click(function() {
                    use_joker('fifty');
                    $(this).css('background-image', 'url({% endverbatim %}{{ app.request.basepath }}{% verbatim %}/css/img/fifty2.png)');
                });

                $(".friend").click(function() {
                    use_joker('friend');
                    $(this).css('background-image', 'url({% endverbatim %}{{ app.request.basepath }}{% verbatim %}/css/img/friend2.png)');
                });

                $(".public").click(function() {
                    use_joker('public');
                    $(this).css('background-image', 'url({% endverbatim %}{{ app.request.basepath }}{% verbatim %}/css/img/public2.png)');
                });

                if (has_voted > 0) {
                    highlight_answers();
                    show_picture_after();
                }


            });

        </script>

    {% endverbatim %}

{% endblock %}
