{% extends "layout.html.twig" %}

{% block title %}Question {{ question.get_id }}{% endblock %}

{% block content %}

    <article>

        <h2>Question {{ question.get_id }} : {{ question.get_text }}</h2>
        {% for answer in answers %}
            <p>{{ answer.get_text }}</p>
        {% endfor %}

        <table>

            <tr>
                <th>User</th>
                <th>Answer</th>
            </tr>

            {% for vote in votes %}

                <tr>
                    <td>{{ vote.get_user_id }}</td>
                    <td>{{ vote.get_answer_id }}</td>
                </tr>

            {% endfor %}

        </table>

    </article>

    <?php
        /*var_dump($games);
        var_dump($users);
        var_dump($votes);*/
    ?>

{% endblock %}
