{% extends "layout.html.twig" %}

{% block title %}Question {{ question.get_id }}{% endblock %}

{% block content %}

    <article>

        <h2>Question {{ question.get_id }} : {{ question.get_text }}</h2>
        {% for answer in answers %}
            <p>{{ answer.get_text }}</p>
        {% endfor %}

        <table>

            <tr>
                <th>User</th>
                <th>Answer</th>
            </tr>

            {% for vote in votes %}

                <tr>
                    <td>{{ vote.get_user.get_username }}</td>
                    <td>{{ vote.get_answer.get_text }}</td>
                </tr>

            {% endfor %}

        </table>

    <h3>Vote</h3>
    {% if voteForm %}
        {{ form_start(voteForm) }}
            <div class="form-group">
                {{ form_errors(voteForm.answer_id) }}
                {{ form_widget(voteForm.answer_id, { 'attr':  {
                    'rows': '4',
                    'class': 'form-control',
                    'placeholder': 'Enter your vote'
                }}) }}
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Vote" />
            </div>
        {{ form_end(voteForm) }}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% else %}
        <a href="{{ path('login') }} ">Log in</a> to add votes.
    {% endif %}

    </article>

    <?php
        /*var_dump($games);
        var_dump($users);
        var_dump($votes);*/
    ?>

{% endblock %}
